@font-face{
  font-family: "Bebas";
  src: url(../font/BebasNeue.otf)
}

img{
  width:100%;
}

#mainNav {
  font-family: Helvetica, sans-serif;
  min-height: 56px;
  background-color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #64a19d;
  border: 1px solid #64a19d;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #161616;
  font-weight: 700;
  padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link {
    -webkit-transition: none;
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #161616;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #64a19d;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #467370;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #64a19d;
    outline: none;
    border-bottom: 0.25rem solid #64a19d;
  }
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  background: url("../img/MeRight.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead-text {
  padding-top: 8rem;
}

.masthead h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
}

.masthead h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 3rem;
    line-height: 4rem;
  }
  .masthead-text {
    padding-top: 10%;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    font-size: 1.25rem;
  }
}

.btn {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: #64a19d;
}

.btn-primary:hover {
  background-color: #4f837f;
}

.btn-primary:focus {
  background-color: #4f837f;
  color: white;
}

.btn-primary:active {
  background-color: #467370 !important;
}

.header{
  font-family: 'Raleway', sans-serif;
}

.about-section {
  padding-top: 4rem;
}

.about-section h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
}

.about-section h5{
  font-family: 'Raleway', sans-serif;
  font-size:1rem;
}

.about-section p {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 5rem;
}

@media (min-width: 389px) {
  .about-section h5 {
    font-size: 1.1rem;
  }
}

@media (min-width: 576px) {
  .about-section h5 {
    font-size: 1.3rem;
  }
}

.box{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.work-section {
  padding: 4rem 0;
}

.work-section h2{
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem;
}

.work-section h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.work-section h4{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.work-section p{
  font-family: 'Open Sans', sans-serif;
}

.work-text{
  padding-left: 5rem;
}

.values-section{
  padding: 4rem 0;
}

.values-section h2{
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
}

.values-section h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
}

.art-section{
  padding: 4rem 0;
}

.art-section h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
}

.contact-section {
  padding: 5rem 0 0;
}

.contact-section h2{
  font-family: 'Raleway', sans-serif;
}

.contact-section h6{
  font-family: 'Raleway', sans-serif;
}

.contact-section .social {
  margin-top: 2rem;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #fff;
}

body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
}

a {
  color: #64a19d;
}

a:focus, a:hover {
  text-decoration: none;
  color: #3c6360;
}

.bg-black {
  background-color: #161616 !important;
}

.bg-primary {
  background-color: #64a19d !important;
}

.text-primary {
  color: #64a19d !important;
}

.text-black{
  color: black;
}

footer {
  padding: 5rem 0;
}
